---
layout: splash
title: "UI-Router"
excerpt: 'State based routing for client-side web apps <br />{::nomarkdown}<br /><iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=angular-ui&repo=ui-router&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe><iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=angular-ui&repo=ui-router&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>{:/nomarkdown}'
header:
  overlay_color: "transparent"
  cta_label: "Get Started"
  cta_url: "/about"
permalink: /
---

{% include base_path %}




{% include paginator.html %}