---
layout: single
header:
  overlay_color: "#9bc995"
title: "UI-Router"
excerpt: "State based routing for client-side web apps"
author_profile: false
permalink: /
---

{% include base_path %}


<div class="huge-block">
  <h1>UI-Router</h1>
  <h4>State based routing for client-side web apps</h4>

  <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=angular-ui&repo=ui-router&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
</div>


<div class="huge-block">

  <!--<a href="/about"><button class="btn btn&#45;&#45;info btn-info">Learn</button></a>-->

</div>

<div class="huge-block">

  <a href="/about"><button class="btn btn--block">Learn</button></a>

</div>





{% include paginator.html %}