---
layout: splash
excerpt: 'State based routing for client-side web apps <br />{::nomarkdown}{:/nomarkdown}'
header:
  overlay_color: "transparent"
  cta_label: "Get Started"
  cta_url: "/about"
permalink: /
---

{% include base_path %}

<div class="about_frameworks">
  <div><a href="/ng1/"><img src="/images/logos/angular1.png"><div>Angular 1</div></a></div>
  <div><a href="/ng2/"><img src="/images/logos/angular2.png"><div>Angular 2</div></a></div>
  <div><a href="/react/"><img src="/images/logos/react.png"><div>React</div></a></div>
</div>


{% include paginator.html %}