.about_frameworks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  //align-items: flex-end;

  img {
    max-height: 100px;
    max-width: 100px;

    margin: 0 1em;
  }

  > div {
    flex: 0 1 auto;
    a {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}