.tsd-page-toolbar {
  top: 75px !important;

  ul li {
    margin-bottom: 0;
  }
}

.docs__version_switcher {
  position: absolute;
  top: 75px ;
  z-index: 300;
}

.clear-navbar {
  margin-top: 0 !important;
}

.row.clear-navbar+.row-fluid {
  display: none;
}

.header .navbar .navbar-inner .container .brand:after {
  content: ' (legacy)';
}