.masthead {
  background-color: $Acolor3;
  border-bottom-width: 0;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);

  .masthead__menu nav {
    background-color: $Acolor3;
  }
}

.page__hero--overlay {
  h1 {
    border-bottom-width: 0;
  }
}