$text-color: rgba(0,0,0,.75);

$Acolor1: #0AD0CF;
$Acolor2: #C7CBCE;
$Acolor3: #252525;
$Acolor4: #182683;
$Acolor5: #3c71c4;

$global-font-family : sans-serif;
$header-font-family : sans-serif;

$link-color: $Acolor5;




